@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UPC<br/>
    Qingdao, Shandong Provence.<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sddpljx@outlook.com">sddpljx@outlook.com</a><br />
   
</address>