@{
    ViewBag.Title = "记录";
}

@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
    </div>
*@
<div class="row">
    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/Office1.png" />
            <font color="#F75000">Office 365  </font>
            <img height="35" width="35" src="~/Sharepoint1.png" />
            <font color="Blue">SharePoint</font>
        </h3>
        <p>
            <font color="#F75000">
                点击 按钮1-Office 365登录  按钮2-SharePoint 共享
            </font>
        </p>
        <p>
            <a class="btn btn-default" href="https://www.office.com" target=_blank><font color="Red">Office 365</font></a>
            <a class="btn btn-default" href="https://supceducn0.sharepoint.com/sites/EletricExp1501" target=_blank><font color="Blue">SharePoint</font></a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/OneNote1.png" />
            <font color="Purple">OneNote</font>
        </h3>
        <p>
            <font color="Purple">
                OneNote Online Website - 查看当前任务
            </font>
        </p>
        <p><a class="btn btn-default" href="~/OneNote.aspx" target=_blank><font color="Purple">OneNote</font></a></p>
    </div>

    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/OneDrive1.png" />
            <font color="Blue">OneDrive - s.upc.edu.cn</font>
        </h3>
        <p>
            <font color="Blue">
                跳转到使用你的Edu邮箱注册的1TB OneDrive
            </font>
        </p>
        <p><a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/" target=_blank><font color="Blue">OneDrive</font></a></p>
    </div>


    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/AutoCAD1.png" />
            <font color="Red">AutoCAD 教育版</font>
        </h3>
        <p>
            <font color="Red">
                注册Autodesk账户，经过学校认证后可获取免费AutoCAD
            </font>
        </p>
        <p><a class="btn btn-default" href="https://www.autodesk.com.cn/education/free-software/autocad" target=_blank><font color="Red">AutoCAD</font></a></p>
    </div>

    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/Forms1.png" />
            <font color="Green">Microsoft Forms</font>
        </h3>
        <p>
            <font color="Green">
                Microsoft Forms - 收集必要的信息
            </font>
        </p>
        <p><a class="btn btn-default" href="~/Share/MSForms" target=_blank><font color="Green">Microsoft Forms &raquo;</font></a></p>
    </div>

    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/favicon.ico" />
            <font color="Red">作业所需资料</font>
        </h3>
        <p>
            <font color="Red">在OneNote链接中指向的文件</font>
        </p>
        <p><a class="btn btn-default" href="~/Work/Homework" target=_blank><font color="Red">作业所需资料 &raquo;</font></a></p>
    </div>
    <div class="col-md-4">
        <h3>
            <img height="35" width="35" src="~/favicon.ico" />
            <font color="Orange">课表</font>
        </h3>
        <p>
            <font color="Orange">2017-2018-1</font>
        </p>
        <p><a class="btn btn-default" href="~/Share/ClaSch" target=_blank><font color="Orange">课表 &raquo;</font></a></p>
    </div>
    <div class="col-md-4">
        <h3>
            <img src="~/favicon.ico" width="35" height="35" />
            <font color="#16A8C2">常用软件下载</font>
        </h3>
        <p>
            <font color="#16A8C2">提供常用的软件下载链接，可能需要相关的权限</font>
        </p>
        <p>
            <a class="btn btn-default" href="~/Share/download" target="_blank"><font color="#16A8C2">Software</font></a>
        </p>
    </div>
</div>
