@{
    ViewBag.Title = "OneNote - 电机拖动";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>
          
    </p>
    <div>
       <p>
  <a class="btn btn-default" href="~/Work/Homework"><font color="Red" size="5">&lsaquo; 跳转至作业概览</font></a> </p>
  <p>
	    <a class="btn btn-default" href="~/OneNote.aspx"><font color="Red" size="5">&lsaquo; 跳转到OneNote</font></a>        </p>
        <p>
          <img src="https://r1yhba-sn3302.files.1drv.com/y4mmhVu1xXJRdtPWVJ-GQheliyzDgc63SNx6Rrwe_hgpcgAA30k9gGHYN9_wa7hGTaniCV5AROx-npVhVeOFwqEY8ysKnK_An7eBeM6C7BZj6IBYCa2qAjWi5_9U8bWzv1HpenfyB-w-VrhLE56DYGagDOZ16lflBTdim_NAK8Sxuc2zpoljQQvHleiiNIVS2LIlxfQNStX7MNMy6EfGM8s0g?width=2688&height=732&cropmode=none" width="560" height="153" />
        </p>
		<p>
		<img src="https://r1yiba-sn3302.files.1drv.com/y4mS-Mmfc-F8gNMf217izH0T6Q_u4nbv7_J0c_akHxPkYkl6a0FSFw-26UlufdbODAT7nK97NcL4K6yzE53UxrIuAbDAtAJ6rDE9_CrmZVzPlNc4q-adD2Hvuht51KIjkI2VFbW2BcjUY_W6ch-82kJ0fmy_lsTy59k3co4WqOApd4DhHBVa2mFC4abDRljZgEueMILSs6sh7XXwKiggljxeQ?width=2252&height=1780&cropmode=none" width="560" height="443" />
		</p>
    </div>
</body>
</html>
