@{
    ViewBag.Title = "OneNote - 电力拖动自动控制系统";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            <a class="btn btn-default" href="~/Work/Homework"><font color="Red" size="5">&lsaquo; 跳转至作业概览</font></a>
        </p>
        <p>
            <a class="btn btn-default" href="~/OneNote.aspx"><font color="Red" size="5">&lsaquo; 跳转到OneNote</font></a>
        </p>
        <h2><font color="Black">电力拖动自动控制系统</font></h2>
        <h3><font color="Green">若图片过小请手动放大</font></h3>
        <p>
            <a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/personal/1506020612_s_upc_edu_cn/_layouts/15/guestaccess.aspx?folderid=072ccd888a9a34bd48bbb3172d342f3a8&authkey=AYfW1l31avfZiNDgsn54TJI"><font color="Red" size="5">查看源文件 &raquo;</font></a>
        </p>
        <p>
            <h3><font color="Blue">Simulink 大作业</font></h3>
        </p>
        <p>
            <img src="https://delz9g-sn3302.files.1drv.com/y4m_Yv7Xk7xP0XQNG_iYEc3e4ziBQIkvwuj_3Sevq8wTF3yPyW33Bk8HsnM_nxSmIrC4fY8KaA2dffU1fhKMzIy-On5Wj5e40Viml8SObNCgVXVpGIuZBXT2628XFaPmx3hVE9gh8EpbbYDhtiUIM1kGYOJzDgtLM9NmRTXb7qktN90nbCRg9tt0zBHaN2oFK_b06WVZgZJe214KYo5q3dlaA?width=1602&height=1012&cropmode=none" width="600" height="382" />
        </p>
        <p>
            <h3><font color="Blue">2017.10.23 作业题</font></h3>
        </p>
        <p>
            <img src="https://del09g-sn3302.files.1drv.com/y4muT6EawVaoI2lBPVTvOElzZoXfUD5pxAl4Hn8BHdV_qMHwgAEjS65VRxqfF60z5gq3NqjM8glcanbKYIL22AQas_4OfcfyBLPXlK5bbY3z5k6OGGcAQ2gJWAHDfcaFmuKmQ-JxUlT3ocpIKzkZ8kMbTcseyqKajM01licoR_fBkbLc0rY8bZhVFb5ROZIhl6raBdZJ5ZQnCsfPaDT3fOupA?width=1780&height=382&cropmode=none" width="600" height="128" />
        </p>

    </div>
</body>
</html>