@{
    ViewBag.Title = "OneNote - 高等电路分析";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
  <a class="btn btn-default" href="~/Work/Homework"><font color="Red" size="5">&lsaquo; 跳转至作业概览</font></a> </p>
  <p>
	    <a class="btn btn-default" href="~/OneNote.aspx"><font color="Red" size="5">&lsaquo; 跳转到OneNote</font></a>        </p>
        <h2><font color="Black">高等电路分析</font></h2>
        <h3><font color="Green">若图片过小请手动放大</font></h3>
        <p>
            <a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/personal/1506020612_s_upc_edu_cn/_layouts/15/guestaccess.aspx?folderid=072ccd888a9a34bd48bbb3172d342f3a8&authkey=AYfW1l31avfZiNDgsn54TJI"><font color="Red" size="5">查看源文件 &raquo;</font></a>
        </p>
	<p>
            <h3><font color="Blue">2017.10.20 PPT(3、4高等电路分析4)</font></h3>
        </p>
        <p>
            <img src="https://sfaicw-sn3302.files.1drv.com/y4mIqnkKQTN_V13plqjZkIk1uKSy8GP2RgB2w9S2HrdPHnBaVu5avIa4qCJZezM8q2O4v5XD6jBtr8jjQmCt5wuCkO15EvWO29JQS7W-u127NhXthFcn-s0SwiPrznKlZtG5iDJrvMKhHej4EfClIUJyzJAxK4B2_TtdCV8oc9aZw3zgWOqoKwvihbP2LHwlFmJNdd3jIg59DeuToP5eqn1ag?width=871&height=270&cropmode=none" width="600" height="186" />
        </p>
        <p>
            <h3><font color="Blue">2017.9.19 PPT(2高等电路分析3)</font></h3>
        </p>
        <p>
            <img src="https://qfzs9w-sn3302.files.1drv.com/y4mJE7rHPTG-4yohumoEhyKmHF5hJEMAEb5N3SJXXOGntna5hT0OKCh6rBYKQqYYiekIlEkIUCzge96uRTF9cK48_g15GyromUlxP71wMjBHkeLh3-t-k4QPXSjbAlg934DfJXo0HjYzu_SuUyTBTlcSYRCJ9WFM6QbJ-64gXtDnAOzJ1LUteM30ORQw9XPhkCfXjBvMIcQFgVWcX45dXl0JQ?width=754&height=482&cropmode=none" width="600" height="385" />
        </p>
        <p>
            <h3><font color="Blue">2017.10.10 PPT(2高等电路分析4)</font></h3>
        </p>
        <p>
            <img src="https://qfzt9w-sn3302.files.1drv.com/y4mI1DXlpu3kFz3veiiOHoIDsCzaE24kUE1AgKdbjQb6blmp3CeiDQ5Hw9oHVszzAIV5K9NtvRhgiOrWAVpGvUII4ko2cQnOg7CC3M1Bn6sHY8nGOmf21gRFdU9yYyD_qOLSe1Aw-q1oR3P1k3wLKGH8kQbooRKbkyCktn4imy2Uco6ZiA4KyaIRtqkodg0i5IDiqzHYOk6skWegExthiMHuw?width=795&height=486&cropmode=none" width="600" height="385" />
        </p>
    </div>
</body>
</html>
