@{
    ViewBag.Title = "OneNote 链接跳转";
}

<div class="row">

    <h3><font color="Red">·  作业所需资料</font></h3>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="~/Work/djtd">电机拖动 &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="~/Work/gddlfx">高等电路分析 &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="~/Work/dltd">电力拖动 &raquo;</a>
        </p>
    </div>
</div>
