@{
    ViewBag.Title = "2017-2018-1 课表";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img src="https://q1zo9w-sn3302.files.1drv.com/y4mv29BzLOe_yhcstl-RM6iKYkXUXniLnfGMJTZGcK0rjDRiNt3XHDkFr7HPGyzLlJKARltgXPoWNdlJHxhEJ_uyWMBM_LWDSSN4YLcibyI5Hai214rA1Wk5iB93GJ44dJFyYVkZnZEqf7r--m_ZKaDw8MiBT6aa9C5tlGmQe0JMDJC2netlDZHfPkboz_fcZmFIrH_ousTi4Q2PBUnE3kx3Q?width=1601&height=1020&cropmode=none" width="1100" height="701" />
    </div>
</body>
</html>
