@{
    ViewBag.Title = "常用软件下载";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>
            <img src="~/OneDrive1.png" width="35" height="35" />
            <font color="Blue">OneDrive</font>
        </h3>
        <p>
            <a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/personal/1506020612_s_upc_edu_cn/_layouts/15/guestaccess.aspx?docid=11503dcc7d51c41eaae808c0dfac32de8&authkey=AeYrAyUmP0i_X7nrAaHePiM&e=0d1431de302140b68a9d6d56b1a21984" target="_blank"><font color="Blue">OneDriveSetup_PC.exe</font></a>
        </p>
        <p>
            <a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/personal/1506020612_s_upc_edu_cn/_layouts/15/guestaccess.aspx?docid=1825bbf8415b44563ba80c2405c69530e&authkey=AcI-vxefZUby5a3y-Pj1ONo&e=27a4e99ba0d34594b89762780169b26c" target="_blank"><font color="Blue">OneDrive_Android_5.1.apk</font></a>
        </p>
        <p>
            <a class="btn btn-default" href="https://supceducn0-my.sharepoint.com/personal/1506020612_s_upc_edu_cn/_layouts/15/guestaccess.aspx?docid=1ceaace00b7124be4a289294ffbec6ada&authkey=AenJZebYTiyAkEl8i6DAx-o" target="_blank"><font color="Blue">SharePoint_Android.apk</font></a>
        </p>
    </div>
</body>
</html>
