@{
    ViewBag.Title = "Media";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            <h3>Worlds 2017 Championship</h3>
        </p>
        <p>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=3&id=909875383&auto=0&height=66"></iframe>
	</p>
	<p>
       <iframe src="https://onedrive.live.com/embed?cid=2490C2F286CAA7F3&resid=2490C2F286CAA7F3%2110844&authkey=AElGejB06S02N_4" width="98" height="120" frameborder="0" scrolling="no"></iframe>
       </p>
        <h3>2017 LPL</h3>
        <p>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=3&id=909492884&auto=0&height=66"></iframe>
        </p>
    </div>
</body>
</html>
