@{
    ViewBag.Title = "Microsoft Forms";
}

<div class="row">
   
      <h2><font color="Green">·  Microsoft Forms</font></h2>
	  <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="https://forms.office.com/Pages/ResponsePage.aspx?id=-r_KdaUmKkCHaK-sk8OwBmhsc1imX4lKh491EnWbCtJURElEVU5EMzRKNDBXQjNZR1VMREJGUzJZWS4u"><font color="Red"> 选修课等时间统计 &raquo;</font></a> 
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="~/Share/MSForms"> 预置 &raquo;</a> 
        </p>
    </div>
    <div class="col-md-4">
        <p>
        <a class="btn btn-default" href="https://forms.office.com/Pages/ResponsePage.aspx?id=-r_KdaUmKkCHaK-sk8OwBmhsc1imX4lKh491EnWbCtJUOUU0UURKUjlDMThaMk9SVTM4V09XN0EwTi4u">电机拖动试验时间 &raquo;</a>
        </p>
    </div>
    <div class=" col-md-4">
        <p>
            <a class=" 
			btn btn-default " href="https://forms.office.com/Pages/ResponsePage.aspx?id=-r_KdaUmKkCHaK-sk8OwBmhsc1imX4lKh491EnWbCtJUNEdZNVNST1VKSDlZMVpRUDlRV1NGVFBaUi4u">实习补助信息 &raquo;</a>
        </p>
    </div>
	<div>
	<iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=-r_KdaUmKkCHaK-sk8OwBmhsc1imX4lKh491EnWbCtJURElEVU5EMzRKNDBXQjNZR1VMREJGUzJZWS4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
	</div>
</div>